body{
    font-family:   "sans-serif";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Nabar */

.navbar{
    height:5rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px #222222;
    margin-bottom: 9px;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem ;
}

.nav-link{
    color: #222222 !important ;
}


/* Footer */

.f-info-links,.f-info-socials{
    background-color:#cbebeb ;

    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;

}


.f-info-socials i{
    margin-right: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.f-info-links a{

    text-decoration: none;
    color: #222222;
     
}

.f-info-links a:hover{
    text-decoration: underline;

}


.f-info{
    height: 8rem;
    text-align: center;
    background-color:#cbebeb ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* Add form */

.addBtn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show apge */


.show-img{
    height: 30vh;
}


.btns{
    display: flex;

}

show-card{
    padding-left: 0;
    padding-right:0 ;
}